@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
  .text-content {
    width: 100%;
  }
  /* ========NAVBAR============= */
  .navigation-wrap .navbar-brand img {
    height: 3.8rem;
  }
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  .navigation-wrap .nav-link {
    line-height: 1.8rem;
    transition: 0.6s all ease-in;
    border: none !important;
  }
  .navigation-wrap .nav-link:hover {
    background-color: var(--primary-color);
    width: 100%;
    color: var(--white-color) !important;
    transition: 0.6s all ease-in;
  }
  .about
  /* ========story section======== */
  .story-section {
    height: auto;
    padding: 0.5rem 0;
  }
  .story-section h2 {
    font-size: 1.2rem;
  }
  /* =========================
  CAROUSEL RESP
  =======================*/
  .testimonial-section .carousel-item .carousel-caption p {
    padding: 0;
  }
  /* News latter  */
  .newsletter {
    width: 75%;
  }
  .newsletter .main-btn {
    width: 100%;
  }
  /* FOOTER */
  .footer .footer-links,
  .footer a i {
    padding: 0 0.7rem;
  }
}
@media only screen and (max-width: 767px) {
}
