@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
/* 
 */

a,
a:hover {
  text-decoration: none;
  color: var(--primary-color) !important;
  transition: 0.4s all ease-in;
  border-radius: 0px;
  border-bottom: 1px solid var(--primary-color);
}
a:hover {
  transition: 0.4s all ease-in;
  border-top: 1px solid var(--primary-color);
  border-bottom: 0 !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
/* ===============================
variable color
=====================================
 */
:root {
  --primary-color: #92263f;
  --secondary-color: #530f1e;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: " Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  font-weight: 500;
}
/*======================================= 
custom scrollBar
=========================================== */
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
/*===========================================
 custom css
 ======================== */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: var(--secondary-color);
}
h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: capitalize;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}
h4 {
  font-size: 18px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}
h5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}
.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
  transition: all 0.4s ease-out 0s;
}
.white-btn {
  padding: 0.625rem 1.875rem;
  line-height: 25px;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
  transition: all 0.4s ease-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.wrapper {
  padding: 8.25rem 0;
}
.text-content {
  width: 70%;
  margin: auto;
}
.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
  color: var(--white-color);
}
/* =================================
navbar
===================================

*/
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  background: var(--white-color);
  transition: all 0.3s ease-out;
  top: 0;
}
.navigation-wrap .nav-item {
  padding: 0 10px;
  transition: all 200ms linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.navigation-wrap .main-btn {
  padding: 0.3rem 1.4rem;
  box-shadow: none;
  margin-left: 0.6rem;
}

/* ===================================
top banner design
===============================
*/
.top-banner {
  width: 100%;
  /* background: url(../assets/images/bg/bg-1.jpg);
  background-size: cover;
  padding: 16.8rem 0 9.3rem; */
}
/* ===============================
COUNTER STYLE
=============================
*/
.counter-section {
  background-color: var(--primary-color);
  padding: 2.5rem 0;
}
.counter-section p {
  color: var(--white-color);
  text-transform: uppercase;
}
/* ===================================
        ABOUT SECTION STYLE
======================================*/
.about-section {
  background: var(--white-color);
}
.about-section .card,
.about-section .card img {
  border-radius: 0.6rem;
}
.about-section .text-sec {
  padding-left: 2rem;
}
/* ==================================
FOOD TYPE SECTION DESIGN
==============================
*/
.food-type {
  padding-top: 2.25rem;
}
.food-type ul li {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 32px;
  position: relative;
}
.food-type i {
  margin-right: 3px;
  color: var(--primary-color);
  font-size: 1.25rem;
}
.story-section {
  width: 100%;
  height: 28rem;
  background: url("../assets/images/bg/bg-2.jpg") no-repeat center;
  background-size: cover;
  padding-top: 70px;
  text-align: center;
}
.story-section h2 {
  color: var(--primary-color);
}
/* ============================
EXPLORE FOOD STYLE
=================================*/
.explore-food .card {
  border: none;
  background-color: transparent;
  border-radius: 0.9rem;
}
.explore-food .card img {
  border-radius: 0.9rem;
  object-fit: cover;
}
.explore-food .card span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 1rem;
}
.explore-food .line {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 1rem;
  border-bottom: 0.06rem solid rgb(184, 184, 184);
}
.explore-food .card span del {
  color: var(--text-gray);
  margin-left: 0.5rem;
}
/* ==============================
TESTIMONIAL STYLE
=============================*/
.testimonial-section {
  background-color: var(--primary-color);
}
.testimonial-section .carousel-item {
  margin-top: 3rem;
  padding: 10rem 3.1rem;
  background-color: var(--white-color);
  border-radius: 0.9rem;
  text-align: center;
}
.testimonial-section .carousel-caption img {
  max-width: 5.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.testimonial-section .carousel-item .carousel-caption p {
  font-size: 1rem;
  line-height: 2.06rem;
  padding: 0 11% 0.6rem;
}
.testimonial-section .carousel-indicators {
  bottom: -2.8rem;
}
.testimonial-section .carousel-indicators button {
  outline: none;
  border: none;
  margin-right: 1rem;
  opacity: 0.3;
}
.testimonial-section .carousel-indicators button:hover {
  opacity: 1;
  transition: 0.4s all ease-in;
}
.testimonial-section .carousel-indicators button.active {
  opacity: 1;
}
/* ==================================
FAQ SECTION
=======================*/
.faq h4 span {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
.book-food {
  width: 100%;
  background: url(../assets/images/bg/bg-3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 71.9px;
  padding: 4.3rem 0;
}
/* ===================
FORM Control
======================= */
.newsletter {
  width: 55%;
  margin: 0 auto;
}
.newsletter .form-control {
  height: 3.25rem;
  padding: 0 1.25rem;
  font-size: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  border: 0.1rem solid var(--text-gray);
  color: var(--black-color);
  font-weight: 700;
}
.newsletter .form-control:hover,
.newsletter .form-control:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: none;
}
/* ================
Footer
=================*/
.footer {
  background-color: var(--primary-color);
}
.footer .footer-link {
  font-size: 1rem;
  color: var(--white-color) !important;
  margin: 0rem 1rem;
  transition: 1s;
  border: none !important;
}
.footer .footer-link:hover {
  transition: all 1s;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
}
.footer a i {
  transition: 1s;
  font-size: 1.5rem;
  color: var(--white-color);
  margin-right: 1rem;
}
.footer a i:hover {
  transition: all 1s;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.facebook:hover {
  color: #093692 !important;
}
.twitter:hover {
  color: #3092cf;
}
.youtube:hover {
  color: #f20101;
}

.instagram:hover {
  color: #7c02e7;
}
.linkedin:hover {
  color: #008e80;
}
